{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="grid gap-4 mb-5 sm:grid-cols-2 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <div class="flex justify-between items-center pb-4">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">View Product</h3>
        </div>
        <div class="flex items-center justify-end">
            <a href={{ path('app_product_index') }}
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                Back to Products list
            </a>
            {{ include('product/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="flex justify-between mb-4 rounded-t sm:mb-5">
        <div class="text-lg text-gray-900 md:text-xl dark:text-white">
            <h3 class="font-semibold">{{ product.name }}</h3>
            <span class="font-bold text-base">${{ product.price }}</span>
        </div>
    </div>

    <div class="flex justify-between rounded-t sm:mb-5">
        <dl>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
                Stock Quantity
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
                {{ product.quantity }}
            </dd>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
                Description
            </dt>
            <dd class="break-all mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
                {{ product.description }}
            </dd>
        </dl>
    </div>
    
    <div class="flex justify-between rounded-t sm:mb-5">
        <dl>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
                Created
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
                {{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '-' }}
            </dd>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
                Updated
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
                {{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '-' }}
            </dd>
        </dl>
    </div>

    <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-start md:space-x-3 flex-shrink-0">
        <a href={{ path('app_product_edit', {'id': product.id}) }} 
            class="bg-blue-700 flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
            Edit Product
        </a>
    </div>

{% endblock %}
